ion-tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: env(safe-area-inset-bottom); // pour iPhone

  ion-tab-button {
    --color: #777;
    --color-selected: var(--ion-color-danger);
    background: transparent;
    border-radius: 20px;
    margin: 0 5px;
    transition: all 0.3s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ion-icon {
      font-size: 22px;
      margin-bottom: 3px;
    }

    ion-label {
      font-size: 11px;
    }

    &.tab-selected {
      color: var(--ion-color-danger);
      font-weight: 600;
      transform: translateY(-3px);
    }
  }
}

// Mode sombre
@media (prefers-color-scheme: dark) {
  ion-tab-bar {
    background: var(--ion-color-dark);
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    ion-tab-button {
      --color: #ccc;

      &.tab-selected {
        background-color: rgba(var(--ion-color-primary-rgb), 0.2);
      }
    }
  }
}
