<ion-content fullscreen>
  <div class="design-root">
    <div class="hero-section mt-2"></div>
    <div class="content-section">
      <h2>Offrez le don de la vie</h2>
      <p>
        Rejoignez notre communauté de donneurs et faites une différence au Sénégal. Votre don de sang peut sauver des vies.
      </p>
    </div>
    <div class="button-section">
      <ion-button expand="block" fill="solid" color="danger" shape="round">
        S'inscrire
      </ion-button>
      <ion-button expand="block" fill="outline" color="danger" shape="round">
        Se connecter
      </ion-button>
    </div>
  </div>
</ion-content>
